.venv/

*.mp4
*.webm
*.part

.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.bak
*.swp
*.tmp
*.cache
*.pid
*.orig
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl
*.manifest
*.spec
*.db
*.sqlite3
*.db-journal
*.sqlite
*.sqlite-journal
*.csv
*.tsv
*.json
*.xml
*.yaml
*.yml